h1 {
	color: #0072FF;
	text-align: center;
	font-family: verdana;
    font-size: 40px;
}
p {
    color: #0072FF;
    text-align: center;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
    text-indent: 20px;
}

#contactbox {
    position: absolute;
    width: 970px;
    height: 445px;
    left: 648px;
    top: 3667px;
    background: rgba(0, 114, 255, 0.6);
    border-radius: 5px;
    font-size: 24px;
}

#message {
    position: absolute;
    width: 470px;
    height: 410px;
    left: 1111px;
    top: 3701px;
}
#girl{
    position: absolute;
    width: 1000px;
    height: 1150px;
    left: 29px;
    top: 3209px; 
}
#send {
    margin-right: 30px;
    background-color: #0072cc;
    color: #ffffff;
    font-size: 14pt;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1200px;
    top: 4090px;
}
#contacttxt {
    position: absolute;
    width: 1186px;
    height: 159px;
    left: 367px;
    top: 3407px;
}
hr {
    position: absolute;
    width: 665px;
    height: 0px;
    left: 270px;
    top: 80px;
    border: 1px solid #0072FF;
}
br {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
div {
    font-family: Roboto;
    font-size: 24px;
    color: #FFFFFF;
}
input[type="text" i] {
    padding: 10px 100px;
    border-radius: 5px;
}
input[type="text2" i] {
    padding: 20px 100px;
    border-radius: 5px;
}
#adress {
    position: absolute;
    width: 470px;
    height: 410px;
    left: 700px;
    top: 3701px;
}
